// コンテンツ
.c-container{
	width: 100vw;
	height: auto;
}

.c-contents{
	&-inner{
		width: 90%;
		margin: auto;
		@include min(768){
			width: 95%;
		}
	}

	&.-f-slider,//スライダー
	&.-f-view{  //ファーストビュー
		width: 100%;
		height: auto;
		@include min(768){
			// min-height: 480px;
		}
	}

	&.-f-slider{// スライダー
		position: relative;
		.c-contentsBox{
			position: absolute;
			// ファーストビュー×スライダー関係
			&.-f-title{
				top: 27%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80%;
				filter: drop-shadow(.5px .5px 0px #ffffff6c);
				@include min(768){// tb
					top: 50%;
					left: 80%;
					width: 33%;
				}
				@include min(1400){
					top: 50%;
					left: 70%;
					width: 30%;
				}
			}
			&.-f-des{
				bottom: 1px;
				left: 90%;
				transform: translateX(-50%);
				white-space: nowrap;
				// width: auto;
				@include min(768){
					left: 60%;
					transform: scale(.8);
				}
				&.-w{
					@include min(768){
						left: 53%;
					}
					@include min(1400){
						left: 72%;
					}
				}
			}
			&.-f-bird{
				&_01{// 青
					top: 20%;
					left: 15%;
					width: 5%;
					@include min(768){// tb
						top: 10%;
						left: 2%;
						width: 4%;
					}
					@include min(1400){// pc
						top: 10%;
						left: 15%;
						width: 3%;
					}
				}
				&_02{// うすい
					top: 20%;
					left: 23%;
					width: 3%;
					@include min(768){// tb
						top: 7%;
						left: 7%;
						width: 3%;
					}
					@include min(1400){// pc
						left: 18%;
						width: 2%;
					}
				}
				&_03{// 黄色
					top: 35%;
					left: 77%;
					width: 5%;
					@include min(768){// tb
						top: 23.5%;
						left: 91%;
						width: 2%;
					}
					@include min(1400){// pc
						top: 13.5%;
						left: 78%;
						width: 1.8%;
					}
				}
				&_04{// 緑
					@include min(768){// tb
						top: 57%;
						left: 65%;
						width: 1.5%;
					}
					@include min(1400){// pc
						top: 60%;
						left: 56%;
						width: 1%;
					}
				}
			}
			&.-f-border{
				top: 36%;
				left: 25%;
				width: 50%;
				@include min(768){// tb
					top: 25%;
					left: 67%;
					width: 24%;
				}
				@include min(1400){// pc
					top: 17%;
					left: 60%;
					width: 18%;
				}
			}
		}
	}

	&.-f-view{//ファーストビュー
		position: relative;
		overflow: hidden;
		.imgBox{
			&.-top{
				&::after{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: url(../images/f-view/f-bg_sp.jpg);
					background-repeat: no-repeat;
					background-size: cover;
					background-position: left bottom;
					z-index: -1;
					@include min(768){background-image: url(../images/f-view/f-bg_pc.jpg);}
				}
			}
		}
		.c-contentsBox{
			position: absolute;
			&.-top-messages{
				top: 2%;
				left: 2%;
				width: auto;
			}
			&.-top-title{
				top: 50%;
				left: 75%;
				transform: translate(-50%, -50%);
				width: auto;
				@include min(768){
					left: 50%;
				}
			}
			&.-top-subTitle{
				top: 43%;
				left: 52%;
				transform: translate(-50%, -50%);
				width: auto;
				@include min(768){
					top: 20%;
					left: 84%;
				}
			}
			&.-top-logo01{
				top: 50%;
				left: 30%;
				transform: translate(-50%, -50%);
				width: 40%;
				@include min(768){
					top: 75%;
					left: 10%;
					width: 20%;
				}
			}
			&.-top-logo02{
				@include min(768){
					top: 21%;
					left: 92%;
					transform: translate(-50%, -50%);
					width: 11%;
				}
			}

		}
	}


	&.-imgBg{//背景画像
		position: relative;
		.c-contentsBox{
			position: absolute;
			&.-house{
				top: 20%;
				left: 55%;
				transform: translate(-50%, -50%);
				width: 80%;
				@include min(768){
					top: 30%;
					left: 21%;
					width: 35%;
					max-width: 570px;
				}
			}
			&.-house-text{
				top: 50%;
				left: 7%;
				width: 90%;
				@include min(768){
					top: 45%;
					left: 39%;
					transform: translate(-10%, -50%);
					width: auto;
				}
			}
			// MAPエリア
			&.-map-sentaku{
				top: 80%;
				left: 28%;
				width: 50%;
				@include min(768){
					top: 4%;
					left: 74%;
					width: 22%;
				}
			}
				&.-sentakuItem01{
					top: 16%;
					left: 5%;
					width: 10%;
					height: auto;
				}
				&.-sentakuItem02{
					top: 27%;
					left: 15%;
					width: 6%;
					height: auto;
				}
				&.-sentakuItem03{
					top: 30%;
					left: 21%;
					width: 13%;
					height: auto;
				}
				&.-sentakuItem04{
					top: 35%;
					left: 40%;
					width: 5%;
					height: auto;
				}
				&.-sentakuItem05{
					top: 35%;
					left: 46%;
					width: 3%;
					height: auto;
				}
				&.-sentakuItem06{
					top: 33%;
					left: 52%;
					width: 15%;
					height: auto;
				}
				&.-sentakuItem07{
					top: 22%;
					left: 68%;
					width: 20%;
					height: auto;
				}
				&.-sentakuItem08{
					top: 13%;
					left: 85%;
					width: 13%;
					height: auto;
				}
			// テロップ
			&.-map-telop{
				top: 24%;
				left: 61.5%;
				width: 35%;
				@include min(768){
					top: 21%;
					left: 55.1%;
					width: 18%;
				}
			}
			// ムーミンバレーパーク
			&.-map-point01{
				top: 40%;
				left: 38.5%;
				width: 11%;
				@include min(768){
					top: 38%;
					left: 42.1%;
					width: 5%;
				}
			}
			// 巾着田
			&.-map-point02{
				top: 17%;
				left: 10.5%;
				width: 15%;
				@include min(768){
					top: 17%;
					left: 26.5%;
					width: 7%;
				}
			}
			// リス
			&.-map-point03{
				top: 74%;
				left: 11.5%;
				width: 12%;
				z-index: 2;
				@include min(768){
					top: 64%;
					left: 13.5%;
					width: 8%;
				}
			}
			&.-map-pukupuku{
				top: 80%;
				left: 16.5%;
				width: 5%;
				z-index: 1;
				@include min(768){
					top: 72%;
					left: 16.5%;
					width: 4%;
				}
			}
			// モモンガ
			&.-map-momo{
				top: 8%;
				left: 8%;
				width: 5%;
				@include min(768){
					top: 9%;
					left: 12%;
					width: 3%;
				}
			}
		}
	}

}